Crime Data Analysis (from Federal Bureau of Investigation Crime Data Explorer)
https://cde.ucr.cjis.gov/LATEST/webapp/#/pages/home

Create DataFrame for Total Crimes from imported CSV File.

In [1]:
#Dependencies

import numpy as np
import matplotlib.pyplot as plt

import pandas as pd 
from pathlib import Path


#Upload CSV

crime_data_load = Path("estimated_crimes_1979_2020.csv")

crime_data = pd.read_csv(crime_data_load)

crime_data

,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats,total_crimes
0,1979,AK,Alaska,406000,1994,54,292.0,NaN,445,1203,23193,5616,15076,2501,NaN,50374
1,1979,AL,Alabama,3769000,15578,496,1037.0,NaN,4127,9918,144372,48517,83791,12064,NaN,319900
2,1979,AR,Arkansas,2180000,7984,198,595.0,NaN,1626,5565,70949,21457,45267,4225,NaN,157866
3,1979,AZ,Arizona,2450000,14528,219,1120.0,NaN,4305,8884,177977,48916,116976,12085,NaN,385010
4,1979,CA,California,22696000,184087,2952,12239.0,NaN,75767,93129,1511021,496310,847148,167563,NaN,3390216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,2020,VT,Vermont,623347,1081,14,NaN,213.0,64,790,7586,961,6361,264,NaN,17334
2138,2020,WA,Washington,7693612,22596,301,NaN,2677.0,5183,14435,210223,40167,142657,27399,NaN,465638
2139,2020,WI,Wisconsin,5832655,18861,308,NaN,2020.0,3081,13452,86654,12744,64517,9393,NaN,211030
2140,2020,WV,West Virginia,1784787,6352,117,NaN,832.0,369,5034,24976,4877,17828,2271,NaN,62656
2141,2020,WY,Wyoming,582328,1364,18,NaN,333.0,66,947,9379,1225,7190,964,NaN,21486

Clean Data to only show the relevant data we want in the DataFrame (Year, State, Total Crimes)

In [2]:
crime_summary = crime_data[["year","state_name","total_crimes"]]
crime_summary

      year          state_name  total_crimes
0     1979              Alaska         50374
1     1979             Alabama        319900
2     1979            Arkansas        157866
3     1979             Arizona        385010
4     1979          California       3390216
...    ...                 ...           ...
2137  2020             Vermont         17334
2138  2020          Washington        465638
2139  2020           Wisconsin        211030
2140  2020       West Virginia         62656
2141  2020             Wyoming         21486

[2142 rows x 3 columns]

Extract Data to Find the number of Total Crimes per State from 1979 to 2020

In [3]:
per_state_crimes = crime_summary.groupby(["state_name"])["total_crimes"].sum()
per_state_crimes

state_name
     Alabama         561956
     Alaska          100586
     Arizona         823068
     Arkansas        406278
     California     4223196
                     ...
Virginia           18103430
Washington         23649428
West Virginia       3708891
Wisconsin          14396769
Wyoming             1436881
Name: total_crimes, Length: 102, dtype: int64

Extract Data to find the number of Total Crimes per Year from 1979 to 2020

In [17]:
per_year_crimes_df = crime_summary.groupby(["year"])["total_crimes"].sum()
per_year_crimes_df

year
1979    24496832
1980    26813786
1981    26844250
1982    25946314
1983    24215026
1984    23760928
1985    24862614
1986    26423738
1987    27017416
1988    27846172
1989    28502898
1990    28951226
1991    29745766
1992    28876382
1993    28289588
1994    27979086
1995    27725454
1996    26987726
1997    26389645
1998    24971428
1999    23268756
2000    23216140
2001    23753338
2002    23757908
2003    23653076
2004    23358948
2005    23130998
2006    22909448
2007    22610364
2008    22337226
2009    21325912
2010    20727746
2011    20517548
2012    20438108
2013    19785461
2014    18875254
2015    18608518
2016    18525242
2017    17933726
2018    16942966
2019    16491256
2020    15530286
Name: total_crimes, dtype: int64