In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

price_house_summary = Path("Resources/rental_price_summary.csv")

price_house_summary_data = pd.read_csv(price_house_summary)
price_house_summary_data

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,Home_values Average_2020,Home_values Average_2021,Home_values Average_2022,Home_values Average_2023,Rental_rates Average_2020,Rental_rates Average_2021,Rental_rates Average_2022,Rental_rates Average_2023
0,58196,7338,1001,zip,MA,MA,Agawam,"Springfield, MA","$272,653.97","$296,148.92","$313,621.32","$317,991.43",NaN,NaN,NaN,NaN
1,58197,3918,1002,zip,MA,MA,Amherst,"Springfield, MA","$411,932.83","$450,103.73","$484,243.33","$492,780.82",$nan,$nan,$nan,"$2,251.17"
2,58200,13464,1005,zip,MA,MA,Barre,"Worcester, MA-CT","$279,467.69","$313,288.21","$344,679.83","$354,591.55",NaN,NaN,NaN,NaN
3,58201,7622,1007,zip,MA,MA,Belchertown,"Springfield, MA","$335,314.39","$370,465.74","$403,472.14","$410,654.22",NaN,NaN,NaN,NaN
4,58202,22646,1008,zip,MA,MA,Blandford,"Springfield, MA","$263,439.46","$291,691.91","$316,809.51","$321,534.83",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26908,100468,20072,99827,zip,AK,AK,Haines,NaN,$nan,"$281,713.06","$306,235.87","$295,914.76",NaN,NaN,NaN,NaN
26909,100472,17035,99833,zip,AK,AK,Petersburg,NaN,"$281,000.13","$302,322.79","$305,600.20","$302,752.12",NaN,NaN,NaN,NaN
26910,100473,12624,99835,zip,AK,AK,Sitka,NaN,"$439,931.61","$478,373.80","$495,293.48","$486,119.75",NaN,NaN,NaN,NaN
26911,100478,8878,99901,zip,AK,AK,Ketchikan,"Ketchikan, AK","$378,065.63","$401,861.07","$422,173.93","$423,058.19",NaN,NaN,NaN,NaN
26912,100489,23520,99929,zip,AK,AK,Wrangell,NaN,$nan,$nan,"$255,560.03","$248,893.13",NaN,NaN,NaN,NaN